.header{
    display: flex;
    justify-content: flex-end;

    nav{
        padding: 10px 20px;
        width: 100%;
    
        ul{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;

            
            li{
                padding: 10px;
                font-size: var(--font-size-13);
                cursor: pointer;
                color: rgba(0,0,0,0.87);

                &:hover{
                    opacity: 0.85;
                    text-decoration: underline;
                }
            }

            #nav-bar img{
                max-width: 25px;
            }
            #profile img{
                width: 32px;
                border-radius: 100%;
            }
        }
      
    }
}

