// Tipografia
:root{

    --font-size-13:0.8125em;
    --font-size-14:0.875em;/*14px*/
    --font-size-16:1em;/*16px*/
    --font-size-18:1.125em;/*18px */
    --font-size-22:1.375em;/*22px */
    --font-size-24:1.5em;/*24px*/
    --font-size-32:2em;/*32px*/
    --font-size-48:3em;/*48px*/
    --font-size-56:3.5em;/*56px*/
  }